{% extends 'adminbase.html.twig' %}

{% block title %}Edit Reservation
{% endblock %}

{% block body %}
	{{ include('admin/admin/adminHead.html.twig') }}
	<h1>Edit Reservation</h1>

	{{ include('admin/reservation/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('admin/reservation/_delete_form.html.twig') }}

	{{ include('admin/admin/adminFooter.html.twig') }}
{% endblock %}
