{% extends 'adminbase.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}

	{{ include('admin/admin/adminHead.html.twig') }}


	{{ include('admin/category/_form.html.twig') }}

	<a href="{{ path('admin_category_index') }}">back to list</a>

	{{ include('admin/admin/adminFooter.html.twig') }}
{% endblock %}
