{% extends 'adminbase.html.twig' %}

{% block title %}New Hotel
{% endblock %}

{% block body %}

	{{ include('admin/admin/adminHead.html.twig') }}


	{{ include('admin/hotel/_form.html.twig') }}

	<a href="{{ path('admin_hotel_index') }}" class="btn btn-warning py-0 ">back to list</a>


	{{ include('admin/admin/adminFooter.html.twig') }}
{% endblock %}
