<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>


		{% block head %}
			{% include "admin/head.html.twig" %}
		{% endblock %}
	</head>

	<body
		class="hold-transition sidebar-mini">
		{# blocks #}
		{% block header %}
			{% include "admin/header.html.twig" %}
		{% endblock %}
		{% block sidebar %}
			{% include "admin/sidebar.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "admin/footer.html.twig" %}
		{% endblock %}
	</body>

</html>
