<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		<link href="{{asset('assets')}}/css/bootstrap.css" rel="stylesheet">
		<link href="{{asset('assets')}}/css/bootstrap-responsive.css" rel="stylesheet">

	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
